# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
dist/
.venv/
venv/
.env
.env.*

# Editors/tooling
.vscode/
.mypy_cache/
ruff_cache/

# OS
Thumbs.db
Desktop.ini

# App data (ignore if you don't want to track them)
companies.json
changes.log
